body{
    background-color:#EADFB4;
}
h1{
   text-align: center;
    color:blueviolet;
}
h2{
    color: blueviolet;
}
h3{
    color: blueviolet;
}
h4{
    color: blueviolet;
}
h5{
    color: blueviolet;
}