@import url('https://fonts.googleapis.com/css?family=popins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
.wrapper #sidebar{
    position: fixed;
    height: 100%;
    width: 270px;
    background: #404040;

}
#sidebar.title{
    color: #f2f2f2;;
    font-size: 25px;
    font-weight:600;
    line-height:65px;
    background:#333;
    text-align:center;
}
#sidebar .list-items{
    position: relative;
    background:#404040;
    height:100%;
    width:100%;
    list-style:none;
}
#sidebar li a{
    color:#fff;
}